{% extends "base.html" %}

{% block content %}
<h2 style="color: white;">Your Chats</h2>
<form method="GET" action="{% url 'chat_list' %}">
    <input type="text" name="q" placeholder="Search friends">
    <button type="submit"><span class="material-symbols-outlined">data_loss_prevention</span></button>
</form>

{% if search_results %}
    <h3>Search Results:</h3>
    <div >
        {% for user in search_results %}
        <ul>
            <li><a href="{% url 'start_chat' user.id %}">{{ user.username }}</a></li>
        </ul>
        {% endfor %}
    </div>
{% endif %}

<h3>Chats:</h3>
<ul>
    {% for chat in chats %}
        <li><a href="{% url 'chat_detail' chat.id %}">{{ chat }}</a></li>
    {% endfor %}
</ul>
{% endblock %}


